body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 80px;
    background-color: rgba(112, 128, 144, 0.096);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Name {
    width: 40%;
    color: black;
    padding-left: 85px;
    font-family: 'JetBrains Mono', monospace;
}

.site_logo {
    width: 250px;
    height: 60px;
}

.Name a {
    text-decoration: none;
    color: black;
}

.Menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.Menu .search:hover {
    color: slateblue;
}

.Menu a {
    text-decoration: none;
    color: black;
    position: relative;
}

.Menu a:hover i {
    color: crimson;
}

.Menu span {
    margin-left: 10px;
    font-family: 'JetBrains Mono', monospace;
}

.Menu:hover a {
    background-color: transparent;
    color: black;
}

.Menu a:hover::before {
    left: -5px;
    color: slateblue;
}

.Menu a::before {
    content: '[';
    font-size: 25px;
    position: relative;
    left: 5px;
    transition: 0.5s;
    color: transparent;
}

.Menu a::after {
    content: ']';
    position: relative;
    left: 0px;
    font-size: 25px;
    transition: 0.5s;
    color: transparent;
}

.Menu a:hover::after {
    left: 5px;
    color: slateblue;
}

.home {
    overflow: hidden;
    width: 100%;
    height: 550px;
    background-image: url('HOMEimg/banner_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home_blur {
    overflow: hidden;
    width: 100%;
    height: 550px;
    background-color: rgba(128, 128, 128, 0.199);
}

.home img {
    width: 35%;
    position: relative;
    left: 750px;
    bottom: 300px;
}

.home h1 {
    width: 600px;
    margin-left: 8%;
    padding: 10% 0 1% 0;
    font-size: 50px;
    color: #2f3a5f;
}

.home span {
    color: crimson;
}

.home p {
    width: 520px;
    font-size: 18px;
    margin-left: 8%;
    color: darkslategray;
}

.btn {
    height: 50px;
    width: 220px;
    background-color: crimson;
    color: white;
    font-size: 17px;
    margin-left: 8%;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px black;
}

.work {
    overflow: hidden;
    width: 100%;
    height: 700px;
    background-color: #f7f7fc;
    background-image: url('HOMEimg/what_bg-1.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: -20%;
}

.work h3 {
    font-size: 20px;
    color: crimson;
    text-align: center;
    margin-top: 5%;
}

.work h2 {
    padding: 0 20% 0 20%;
    font-size: 20px;
    color: #2f3a5f;
    font-weight: 100;
    text-align: center;
    margin-top: 2%;
    margin-block-end: 0;
}

.Div_work {
    width: 86%;
    height: 300px;
    transform: translatey(70px);
    margin: auto;
    margin-left: 10%;
    background-color: transparent;
}

.subDiv_work {
    width: 22%;
    border-radius: 30px;
    float: left;
    margin-right: 3%;
    height: 300px;
    background-color: transparent;
}

.subDiv_work:hover {
    box-shadow: 0px 0px 5px 0px gray;
}

.subDiv_work h3 {
    color: crimson;
    font-size: 20px;
    text-align: center;
}

.subDiv_work h4 {
    color: #2f3a5f;
    font-size: 18px;
    text-align: center;
    font-weight: 100;
}

.imgWORK {
    width: 100px;
    height: 100px;
    margin: 3% 0 0 30%;
    border-radius: 50px 50px;
}

.visit {
    overflow: hidden;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
}

.upper_visit {
    width: 80%;
    height: 380px;
    margin: auto;
    margin-top: 8%;
    background-color: white;
}

.sub_divVisit1 {
    width: 43%;
    height: 370px;
    margin-top: 1%;
    background-image: url('HOMEimg/why.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20px 0;
    box-shadow: 0 0 5px 2px cadetblue;
    float: left;
}

.sub_divVisit2 {
    width: 55%;
    margin-left: 2%;
    height: 380px;
    background-color: white;
    float: left;
}

.sub_divVisit2 h3 {
    font-size: 20px;
    color: crimson;
}

.sub_divVisit2 h2 {
    font-size: 25px;
    color: #2f3a5f;
    padding-right: 10%;
    margin-top: 4%;
}

.sub_divVisit2 h4 {
    color: #2f3a5f;
    font-size: 15px;
    margin-bottom: 5%;
}

.sub_divVisit2 h5 {
    font-size: 18px;
    color: #2f3a5f;
    margin-top: 4%;
    margin-bottom: 2%;
}

.container {
    margin: auto;
    width: 95%;
    height: 10px;
    margin-left: 0;
    border-radius: 2px;
    background-color: #ddd;
}

.skills {
    text-align: right;
    color: white;
}

.html {
    width: 90%;
    height: 10px;
    background-color: yellow;
    border-radius: 2px;
}

.css {
    width: 80%;
    height: 10px;
    background-color: darkslateblue;
    border-radius: 2px;
}

.c_prog {
    width: 73%;
    height: 10px;
    background-color: darkturquoise;
    border-radius: 2px;
}

.services {
    overflow: hidden;
    width: 100%;
    height: 1300px;
    background-color: #f7f7fc;
}

.Div_services {
    width: 86%;
    height: 250px;
    transform: translatey(50px);
    margin: auto;
    margin-left: 10%;
    background-color: transparent;
}

.subDiv_services {
    width: 21.5%;
    border-radius: 30px;
    float: left;
    margin-right: 3.5%;
    height: 250px;
    background-color: transparent;
}

.imgSERVICES:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 1px cadetblue;
}

.imgSERVICES {
    width: 100px;
    height: 100px;
    margin: 10% 0 0 30%;
    border-radius: 50px 50px;
    transition: 0.5s;
}

.services h4 {
    font-size: 20px;
    color: crimson;
    text-align: center;
    margin-top: 8%;
}

.services h3 {
    font-size: 20px;
    color: #2f3a5f;
    text-align: center;
    margin-top: 8%;
    transition: 0.3s;
}

.services h2 {
    font-size: 25px;
    color: #2f3a5f;
    text-align: center;
    margin-top: 2%;
}

.services a {
    text-decoration: none;
}

.services a:hover h3 {
    transform: scale(1.1);
    text-shadow: 1px 0px 1px cornflowerblue;
}

.testimonial {
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    background-image: url('HOMEimg/testimonial_bg-1.png');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: -35%;
}

.testimonial h3 {
    font-size: 20px;
    color: crimson;
    text-align: center;
    margin-top: 5%;
}

.testimonial h2 {
    font-size: 25px;
    color: #2f3a5f;
    text-align: center;
    padding: 0 30% 0 30%;
    margin-top: 2%;
}

.testimonial p {
    color: crimson;
    text-align: center;
    font-size: 30px;
}

.testimonial h4 {
    font-size: 18px;
    color: black;
    font-weight: 100;
    text-align: center;
    margin-top: 3%;
    font-style: italic;
}

.div_testimonial {
    width: 20%;
    height: 70px;
    margin: auto;
    background-color: white;
}

.client_imgDiv {
    width: 28%;
    height: 70px;
    background-image: url('HOMEimg/amit_shah.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 50px;
    float: left;
}

.client_info h3 {
    width: 70%;
    height: 70px;
    color: crimson;
    margin: auto;
    font-size: 20px;
    font-weight: 100;
    padding-top: 5%;
}

.blog {
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    background-image: url('HOMEimg/blog_bg-1.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 100% 60%;
}

.subDiv_blog {
    width: 80%;
    height: 300px;
    margin: auto;
}

.sub_left_blog {
    float: left;
    width: 50%;
    height: 300px;
}

.sub_right_blog {
    float: left;
    width: 50%;
    height: 300px;
}

.subDiv_blog h2 {
    text-align: center;
    color: #2f3a5f;
    padding: 0 20% 0 20%;
}

.btn_blog {
    height: 40px;
    width: 180px;
    background-color: crimson;
    color: white;
    font-size: 17px;
    margin-left: 33%;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px black;
}

.imgBLOG {
    width: 80px;
    height: 80px;
    margin: 8% 0 0 42%;
    border-radius: 50px 50px;
    transition: 0.5s;
}

footer {
    overflow: hidden;
    width: 100%;
    height: 400px;
    background-color: #f7f7fc;
}

.div_foot {
    width: 85%;
    height: 370px;
    margin: auto;
    margin-top: 5%;
    background-color: #f7f7fc;
}

.subDiv_Foot {
    width: 33.3%;
    height: 370px;
    background-color: #f7f7fc;
    float: left;
}

.subDiv_Foot p {
    font-weight: 100;
    padding-right: 70%;
    margin-top: 8%;
}

.subDiv_Foot h2 {
    font-size: 15px;
    margin-left: 10%;
    padding-left: 3%;
    border-left: 3px solid crimson;
}


/* #div_ul {
    margin-left: 0%;
} */

#div_ul a {
    color: #2f3a5f;
    position: relative;
    padding-bottom: 5%;
}

#div_ul a:hover span {
    color: #2f3a5f;
}

#div_ul i {
    color: crimson;
}

#div_ul a::after {
    position: absolute;
    content: '';
    border-bottom: 1px solid gray;
    width: 300px;
    left: 2%;
    top: 100%;
}

#div_ul span {
    font-weight: 100;
    color: black;
}

#div_ul li {
    margin-top: 10%;
}

.con_div {
    margin-top: 7%;
    margin-left: 10%;
}

.icon_foot {
    color: crimson;
}

.contact_det {
    padding: 9px 0;
    border-bottom: 1px solid gray;
}

footer {
    height: 70px;
    background-color: black;
    color: #FFF8F1;
    /* padding: 25psx; */
}

footer p {
    text-align: center;
    /* margin-top: -8px; */
}


/* ........................About.............................. */

.about {
    width: 100%;
    overflow: auto;
}

.about h1 {
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
}

.container2 {
    width: 80%;
    margin: auto;
}

.box {
    margin-top: 25px;
    border: 1px solid rgba(128, 128, 128, 0.13);
}

.box p {
    padding: 35px;
    text-align: justify;
    font-size: 18px;
}

.investor img {
    width: 155px;
    height: 150px;
    padding: 15px 50px;
}

.mission {
    text-align: center;
}

.mission h2 {
    font-weight: 100;
    font-size: 25px;
    padding-top: 15px;
}

.mission p {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.mission .btn3 {
    padding: 10px 15px 10px 15px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: crimson;
    color: #FFFFFF;
    outline: none;
    border: none;
    margin-bottom: 35px;
}

.contact_info {
    width: 100%;
    height: 1300px;
    padding-top: 50px;
}

.contact_info h1 {
    font-size: 35px;
    text-align: center;
    font-weight: 500;
}

.contact_info h3 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.contact_row {
    width: 100%;
}

.contact_col {
    background-color: rgba(0, 0, 0, 0.041);
    width: 30%;
    height: 250px;
    text-align: center;
    padding-top: 30px;
    float: left;
    margin-left: 35px;
    margin-top: 35px;
}

.contact_col:hover {
    box-shadow: 0px 0px 15px 0px rgba(128, 128, 128, 0.301);
    border-radius: 5px;
}

.boxs {
    margin-top: 15px;
}

.contact_col h2 {
    font-weight: 600;
    font-size: 25px;
    color: crimson;
}

.contact_col p {
    padding: 20px;
}

.contact2 {
    width: 100%;
    height: 400px;
    /* clear: both; */
}

.contact_row2 {
    width: 100%;
}

.contact_col2 {
    width: 25%;
    height: 250px;
    float: left;
    margin: 4%;
}

.contact_col2 h3 {
    line-height: 5;
}

.contact_col2 h2 {
    font-size: 20px;
    padding-left: 3%;
    border-left: 4px solid crimson;
}

.contact_col2 li {
    margin-top: 5px;
    list-style-type: none;
    border-bottom: 1px solid black;
    line-height: 3;
}

.contact_col2 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.contact_col2 span {
    margin-left: 10px;
    font-weight: 100;
    font-size: 20px;
}

.contact_col2 .sp1:hover {
    color: crimson;
}

.contact_col2 .ic:hover {
    color: crimson;
}

.contact_col2 .sp {
    font-weight: 100;
    font-size: 20px;
}

.text {
    text-transform: uppercase;
    font-size: 25px;
    color: crimson;
    padding-top: 6%;
    text-align: center;
}

hr {
    width: 100px;
    margin-left: 47%;
    background-color: #FFC107;
}

.counter {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numeric {
    text-align: center;
    font-size: 25px;
    margin: 70px;
}

.fullH {
    overflow: auto;
}


/* ............................Services..................................... */

.service_banner {
    width: 100%;
    height: 480px;
    background: url('https://www.crushpixel.com/big-static12/preview4/illustration-3d-white-brick-wall-842133.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: 0 300px; */
}

.light_banner {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.164);
}

.opacity {
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.329);
    padding-top: 5%;
}

.opacity h2 {
    text-align: center;
    font-size: 45px;
    color: white;
    text-shadow: 0 5px 5px black;
}

.dropdown {
    margin-left: 20%;
    float: left;
    margin-right: 25px;
}

.dropdown-content {
    display: none;
    width: 200px;
    background-color: transparent;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 15px 20px;
    font-size: 20px;
    text-decoration: none;
    display: block;
    border: 1px solid white;
}

.dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.171);
}

.show {
    display: block;
}

#btn4 {
    padding: 15px 20px;
    font-size: 25px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.icon {
    transform: rotate(180deg);
}

.search1 {
    border: 1px solid white;
    width: 500px;
    height: 60px;
    float: left;
}

.se_icon {
    float: left;
    padding: 15px;
    font-size: 20px;
    color: white;
}

.se_input {
    padding: 15px;
}

.se_input input {
    width: 430px;
    background-color: transparent;
    height: 30px;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
}

.se_input ::placeholder {
    color: white;
}

.services1 {
    width: 100%;
    height: 1000px;
    background-color: #F7F7FC;
    text-align: center;
}

.services1 h2 {
    padding-top: 65px;
    color: crimson;
    text-transform: uppercase;
}

.services1 h3 {
    padding-top: 15px;
    color: #2F3A5F;
    font-size: 25px;
}

.service_col {
    width: 20%;
    height: 250px;
    float: left;
    cursor: pointer;
    margin: 25px;
}

.service_col:hover {
    box-shadow: 0px 0px 15px 0px rgba(128, 128, 128, 0.301);
    border-radius: 5%;
}

.service_row {
    width: 100%;
}

.service_col img {
    width: 150px;
    margin-top: 25px;
}

.service_col h4 {
    color: #2F3A5F;
    padding-top: 15px;
}